<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Bank Of America</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="signup-form">
            <h2>Create Your Account</h2>
            <form action="/signup" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign Up</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Bank Of America. All rights reserved.</p>
    </footer>
</body>
</html[_{{{CITATION{{{_1{](https://github.com/aditipolkam/weather/tree/6b03b9c5cf790a0959b0a6eb7649dcc526733ead/app.js)[_{{{CITATION{{{_2{](https://github.com/AkshatGadhwal/delhi_streets_firebase/tree/ea1ba0ce100819864cc9c0f20c8f5b8949eaae5f/delhi_streets%2Fapp.js)[_{{{CITATION{{{_3{](https://github.com/humanbying/potato-api/tree/610681817ce9e2f3d5a1e7e85eefefcbd540f079/app.js)[_{{{CITATION{{{_4{](https://github.com/TunnelsApp/Tunnels/tree/236b48ab4e1d262a0c2a005c815c244106ab259f/app.js)[_{{{CITATION{{{_5{](https://github.com/kamchibekov/biApps/tree/f9f439907efa5b20e71ff66418691a5817b88c1b/index.js)[_{{{CITATION{{{_6{](https://github.com/fitsumcs/NodeTutore/tree/43ef15b0ba05fb6a43b0f9b0fa15358be815e4aa/Tu_C7%28Node%20Security_1%29%20%2FLevel_4%28Hashing_withsalt_bcrypt%29%20%2Findex.js)[_{{{CITATION{{{_7{](https://github.com/savyatam/NewRestAppl/tree/e9f268b1f42e571e22b354f027916f4598b0c937/index.js)[_{{{CITATION{{{_8{](https://github.com/dbooyah93/shortly-express/tree/7fcacca9f3b05f4e847a9d148e66f51e2ba51002/server%2Fapp.js)[_{{{CITATION{{{_9{](https://github.com/gregoryinouye/hackreactor/tree/e73f102b55ce1a2fcd257e454c3e20128dbcf8c5/shortly-express%2Fserver%2Fapp.js)[_{{{CITATION{{{_10{](https://github.com/johnsciutto/movie-api-front/tree/3540e76dd5ca87e29b5e05efaa4d10b5ac41de4d/app.js)[_{{{CITATION{{{_11{](https://github.com/Van-Yo/Van-Yo.github.io/tree/db7821a4281720deb4b46647f17cd1a646930f87/source%2F_posts%2Fnode-express-composed.md)[_{{{CITATION{{{_12{](https://github.com/Sup-Sup123/zwrld.me/tree/3e16e7fb35dce99f614bf51710bc02987819deda/pages%2F_layout.php)[_{{{CITATION{{{_13{](https://github.com/Epoch808/Stakepool.github.io/tree/808b72e59df648f2d0d595cda18b8eeddc356285/index.md)[_{{{CITATION{{{_14{](https://github.com/morishitter/inCollege/tree/c822560d324563417f5f33ed7b961cd73d566269/index.php)[_{{{CITATION{{{_15{](https://github.com/pKwarcinski/PHP-Todo-List/tree/4086e153882a91fa56c472d7371b72d1df629793/app%2Fviews%2Fpartials%2Fnav.php)[_{{{CITATION{{{_16{](https://github.com/ashirafzal/Ecommerce/tree/b9245509e73925ca93a0ec11d75a31ab61401354/resources%2Fviews%2Flayouts%2Fmain.blade.php)[_{{{CITATION{{{_17{](https://github.com/TheDonBase/CroazStudio/tree/e30b5f458518ad5bc2ca9985ac13e5829ad5fa7f/app%2Fviews%2Ftemplates%2Fabout%2Fhead.php)[_{{{CITATION{{{_18{](https://github.com/techwithuche/Resume/tree/f82c1778d9b9b753df33083703d4831a899d0a2e/src%2Fassets%2FHeader.js)[_{{{CITATION{{{_19{](https://github.com/dp95000/billboardtracker/tree/27f6e709a9a7e83a75b7f87900d551c98432dc1e/client%2Fsrc%2Fcomponents%2Fheader%2Fheader.js)[_{{{CITATION{{{_20{](https://github.com/hyc7575/hyc7575.github.io/tree/2ce586b1e5f9c6d561b72425a734c98fe6fabfdd/blog%2Fsource%2F_posts%2F2017-06-02-Nodejs-session-with-login2.md)[_{{{CITATION{{{_21{](https://github.com/mushlih-almubarak/belajar-php-dasar/tree/76688e4511536632f6ae00586b3442984cf1608a/Sistem%20Login%2FRegister.php)[_{{{CITATION{{{_22{](https://github.com/BIDMCDigitalPsychiatry/LAMP-college-study/tree/f7e1cd6c7647608959bb4bf55c5807db565b93cb/main.py)
